
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-top-row {
    display: table-cell;
    vertical-align: top:
}
.vertical-center-row {
    /*background-color: #fbc055;*/
    display: table-cell;
    vertical-align: middle;
}

.footer-text {
    visibility: visible;
    font-size: 1px;
    color: orange;
}
